<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>プロフィール画像:</p>
<% if @user.avatar? %>
  <%= image_tag @user.avatar.url%>
<% else %>
  <%= image_tag ("noavatar.png") %>
<% end %>

<p>
<%= link_to "画像一覧画面へ", pictures_path%>
<%= link_to "プロフィールの編集", edit_user_path%>
</p>